@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: 'LondrinaShadow-Regular';
  src: url('/fonts/LondrinaShadow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #763cac;
  --text1: #ffffff;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden  !important;
}

/* home  */
.home_section1_heading{
  font-family: 'LondrinaShadow-Regular';
  color: var(--text1);
  position: relative;
}
.home_section1_text{
  color: var(--text1);
}
.services_container{
  display: flex;
  overflow: hidden !important;
  width: fit-content !important;
}
.services_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 60vh;
  margin-top: 5rem;
  color: var(--foreground);
}
.services_inner:nth-last-child(1){
  margin-right: 30rem;
}
.services_inner p{
  text-align: center;
}